<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.java.crimeSystem</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddIncidentServlet</display-name>
    <servlet-name>AddIncidentServlet</servlet-name>
    <servlet-class>com.java.crimeSystem.servlet.AddIncidentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddIncidentServlet</servlet-name>
    <url-pattern>/AddIncidentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddIncidentServlet1</display-name>
    <servlet-name>AddIncidentServlet1</servlet-name>
    <servlet-class>com.java.crimeSystem.servlet.AddIncidentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddIncidentServlet1</servlet-name>
    <url-pattern>/AddIncidentServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateIncidentStatusServlet</display-name>
    <servlet-name>UpdateIncidentStatusServlet</servlet-name>
    <servlet-class>com.java.crimeSystem.servlet.UpdateIncidentStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateIncidentStatusServlet</servlet-name>
    <url-pattern>/UpdateIncidentStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetIncidentsInDateRangeServlet</display-name>
    <servlet-name>GetIncidentsInDateRangeServlet</servlet-name>
    <servlet-class>com.java.crimeSystem.servlet.GetIncidentsInDateRangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetIncidentsInDateRangeServlet</servlet-name>
    <url-pattern>/GetIncidentsInDateRangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateReportServlet</display-name>
    <servlet-name>GenerateReportServlet</servlet-name>
    <servlet-class>com.java.crimeSystem.servlet.GenerateReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateReportServlet</servlet-name>
    <url-pattern>/GenerateReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateIncidentReportServlet</display-name>
    <servlet-name>GenerateIncidentReportServlet</servlet-name>
    <servlet-class>com.java.crimeSystem.servlet.GenerateIncidentReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateIncidentReportServlet</servlet-name>
    <url-pattern>/GenerateIncidentReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateIncidentReportServlets</display-name>
    <servlet-name>GenerateIncidentReportServlets</servlet-name>
    <servlet-class>com.java.crimeSystem.servlet.GenerateIncidentReportServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateIncidentReportServlets</servlet-name>
    <url-pattern>/GenerateIncidentReportServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignOfficerAndAgencyServlet</display-name>
    <servlet-name>AssignOfficerAndAgencyServlet</servlet-name>
    <servlet-class>com.java.crimeSystem.servlet.AssignOfficerAndAgencyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignOfficerAndAgencyServlet</servlet-name>
    <url-pattern>/AssignOfficerAndAgencyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>menMenuServlet</display-name>
    <servlet-name>menMenuServlet</servlet-name>
    <servlet-class>com.java.crimeSystem.servlet.menMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>menMenuServlet</servlet-name>
    <url-pattern>/menMenuServlet</url-pattern>
  </servlet-mapping>
</web-app>